
body {
  background-color: #359D9E;
}

.maze-wrapper {
  text-align: center;
}

/* User Input css */

.user-input-wrapper {

  width: 20%;
  margin: 150px auto;
  padding: 50px 40px;
  background-color: #215273;
  border-radius: 8px;

}

.user-input-wrapper label{
  display: block;
  color: #359D9E;
  margin: 20px 0px;
  font-size: 24px;
}

.user-input-wrapper label input{
  color: #359D9E;
  font-size: 24px;
  margin-left: 16px;
}

.user-input-wrapper button {
  width: 80%;
  font-size: 24px;
  padding: 8px;
  background-color: transparent;
  color: #359D9E;
  border: 2px solid #359D9E;
  border-radius: 6px;
  cursor: pointer;
}

.user-input-wrapper button:disabled {
  background-color: transparent;
  color: #d9534f;
  border: 2px solid #d9534f;
  cursor: not-allowed;
}

/*  */

/* Game Stats css */

.gameStats {
  background-color: #2e86de;

  padding: 16px 24px;
  font-size: 20px;

  display: flex;
  justify-content: space-between;
}

.gameStats .stats-info{
  display: flex;
}

.gameStats .stats-info .stats-item {
  margin-right: 32px;
}


.gameStats .stats-action button {
  cursor: pointer;
  border-radius: 24px;
}


/*  */

/* Board css */

.row{
  display: flex;
}

.cell {
  width: 45px;
  height: 45px;
  background-color: #EFEFF4;
  border: 1px solid #A6A7A8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-wrapper {
  width: fit-content;
  margin: 48px auto;
}

/*  */


/* Modal Css */

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-wrapper .modal-body {
  position:fixed;
  background: white;
  width: 40%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  padding: 24px;
  border-radius: 4px;
  color: #2D3436;
}

.modal-wrapper .modal-body .modal-title {
  border-bottom: 1px solid #B2BEC3;
  text-align: left;
  padding: 16px;
  padding-top: 0px;
  font-size: 32px;

}

.modal-wrapper .modal-body .modal-content {
  margin: 24px;
  margin-bottom: 48px;
  font-size: 24px;
}

.modal-wrapper .modal-body .modal-action {

  text-align: right;
  padding: 0px 24px;
  
}

.modal-wrapper .modal-body .modal-action button {

  font-size: 16px;
  padding: 8px 24px;
  margin-left: 16px;
  background-color: transparent;
  color: #3E5DAF;
  border: 2px solid #3E5DAF;
  border-radius: 6px;
  letter-spacing: 1px;
  cursor: pointer;

}

/* .modal-wrapper .modal-body .modal-action button:focus {

  font-size: 16px;
  padding: 8px 24px;
  margin-left: 16px;
  background-color: #3E5DAF;
  color:white;
  border: 2px solid #3E5DAF;
  border-radius: 6px;
  letter-spacing: 1px;
  cursor: pointer;
} */

.modal-wrapper .modal-body .modal-action button:hover {

  font-size: 16px;
  padding: 8px 24px;
  margin-left: 16px;
  background-color: #3E5DAF;
  color:white;
  border: 2px solid #3E5DAF;
  border-radius: 6px;
  letter-spacing: 1px;
  cursor: pointer;
}